:root{
    /* Base colour*/
    --color-background: #FAF9F6;
    --color-secondary: #F8F4E3;
    --color-accent: #C4B59B;
    --color-border: #D3C9B6;
    --color-borders: #C4B59B;
    --color-text: #333333;
    --color-hover: #a3947a;

    /* Contact CSS*/
    --color-success: #8FBC8F; 
    --color-error: #A04D3F; 
    
    /* Light theme (default)*/

}