.main {
  margin: 3rem 3rem 3rem;
}

.main h1 {
  border-bottom: 1.5px solid rgba(196, 181, 155, 0.5);
  margin-bottom: -1rem;
}

.link{
  font: var(--font-text);
  color: var(--color-borders);
  text-decoration: none;
  border-bottom: 2px solid var(--color-border);
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0rem 4rem;
  gap: 2rem;
}

/* === Text Container === */
.main-text-container {
  flex: 1;
  min-width: 300px;
  animation: slideInLeft 0.8s ease-out forwards;
}

/* === Image Container === */
.main-image-container{
  flex: 1;
  min-width: 300px;
  display: flex;
  animation: slideInRight 0.8s ease-out forwards;
}

.main-image{
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.markdown-image {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  box-sizing: border-box;
  padding: 0 3.5rem;
  margin: 3rem 0;
  justify-content: center;
  /* background-color: darkblue; */
}

.markdown-image img {
  flex: 1 1 0;     /* images grow and shrink equally */
  max-width: 100%; /* no bigger than container */
  height: auto;
  display: block;
  border-radius: 15px;
  border: 1px solid var(--color-accent);
  box-sizing: border-box;
}

.markdown-text {
  flex-direction: column;
  display: flex;
  padding: 2rem;
  margin: 0rem 10rem 0rem;
}

.markdown-text h3 {
  opacity: 0.9;
  font-size: 1.8rem;
  margin: 0;
}

.markdown-text p {
  opacity: 0.7;
  margin-bottom: 1.5rem;
}