:root {
  --font-primary: 'Playfair Display', serif;
  --font-text: 'Merriweather Sans', serif;
}

h1, h2, h3 {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-text);
}

nav{
    font-family: var(--font-primary);
}

body {
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
  background: #fffaf4;
  color: #333;
}