:root {
  --font-primary: 'Playfair Display', serif;
  --font-text: 'Merriweather Sans', sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-primary);
}

nav{
    font-family: var(--font-primary);
}

nav a {
  color: var(--font-text);            /* Override default blue */
  text-decoration: none;   /* Remove underline */
}

nav a:hover {
  color: #a3947a;
  text-decoration: underline;
}

body {
  font-family: var(--font-text);
  margin: 0;
  padding: 0;
  background: #fffaf4;
  color: #333;
}